<!DOCTYPE html>
<html>

<head>
    <style>
        div.container {
            width: 100%;
            border: 1px solid gray;
        }

        article {
            margin-left: 170px;
            border-left: 1px solid gray;
            padding: 1em;
            overflow: hidden;
        }
    </style>
</head>

<body>

    <div class="container">

        <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/09/IMG_3138-960x350.jpg" style="width:100%;height:400px;">

        <h1><b>Activities</b></h1>
        <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2015/03/exceed_section.jpg" style="width:100%;height:300px;">
        <h1><b>Exceed Camp</b></h1>

        <p>ค่ายทะลุฟ้า หรือ ค่ายพัฒนาซอฟต์แวร์ในสภาพการทำงานร่วมแบบเปิดกว้าง หรือ ค่าย eXceed มีวัตถุประสงค์เพื่อเป็นกิจกรรมหลักด้านการฝึกทักษะทั้งด้านวิชาการและสังคมให้แก่นิสิตของภาควิชา</p>

        <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2015/03/freshy_section.jpg" style="width:100%;height:300px;">
        <h1><b>Freshy Camp</b></h1>
        <p>ค่ายสำหรับนิสิตเฟรชชี่ภาคคอม โดยจุดประสงค์ของค่ายคือเพื่อให้เฟรชชี่แต่ละคนได้รู้จักกับเพื่อนใหม่และทำความรู้จักกับพี่ๆ ภาคคอมไปด้วยในเวลาเดียวกัน</p>

<img src="https://www.cpe.ku.ac.th/wp-content/uploads/2015/03/toffeecamp_section.jpg" style="width:100%;height:300px;">
<h1><b>Toffy Camp</b></h1>
<p>ค่ายเทคโนโลยีแห่งอนาคตเพื่อเยาวชนครั้งที่ 2 ได้จัดขึ้นเพื่ออบรมเยาวชนยุคใหม่ ให้เรียนรู้การ เขียนโปรแกรมโดยใช้ภาษา C# การต่อวงจรดิจิตอลเบื้องต้น การเขียน Android App Inventor อบรมให้ เยาวชนยุคใหม่ ก้าวทันเทคโนโลยีและสามารถนำเทคโนโลยีไปประยุกต์ใช้ในชีวิตประจำวันได้</p>
<img src="https://www.cpe.ku.ac.th/wp-content/uploads/2015/03/sos_section.jpg" style="width:100%;height:300px;">
<h1><b>SOS Camp</b></h1>
<p>ค่ายนี้จัดขึ้นเพื่อนิสิตภาควิชาวิศวกรรมซอฟต์แวร์และความรู้ เพื่อเป็นการปูพื้นฐานการเขียนโปรแกรมก่อนที่จะเริ่มเรียนจริง ค่ายนี้จะช่วยให้น้องๆ ได้เรียนรู้พื้นฐานเบื้องต้นสำหรับวิชาต่างๆในภาควิชา</p>
    
        </article>
    </div>

</body>

</html>
