<table>

      <table cellpadding="2" cellspacing="2" width="80%">
        <th> <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-19-19-21.jpg" style="width:150px; height:200px;"><br>Kitsana WAIYAMAI</th>
        <th> <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-7-7-15.jpg" style="width:150px; height:200px;"><br>Kemathat VIBHATAVANIJ</th>
        <th> <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-37-37-49.jpg" style="width:150px; height:200px;"><br>Charay  LERDSUDWICHAI</th>
        <th> <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2015/02/14-KUENG-PHO-01-10-10-38.jpg" style="width:150px; height:200px;"><br>Chantana CHANTRAPORNCHAI</th>
      </table>

      <table cellpadding="2" cellspacing="2" width="80%">
        <th> <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-29-29-13.jpg" style="width:150px; height:200px;"><br>Jitti NIRAMITRANON</th>
        <th> <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-27-27-34.jpg" style="width:150px; height:200px;"><br>Monchai  SOPITKAMOL</th>
        <th> <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2015/06/DSCF2486re.jpg" style="width:150px; height:200px;"><br>Paruj  RATANAWORABHAN</th>
        <th> <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2015/06/james_brucker-180x252.png" style="width:150px; height:200px;"><br>James Edward Brucker</th>
      </table>

  </table>