

<table>

<table border="20" cellpadding="20" cellspacing="5" width="60%">
    <tr>
      <th align="middle">Picture</th>
      <th align="middle">Name-Surname</th>
      <th align="middle">Period</th>
    </tr>

    <tr>
      <td> <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2015/01/Anan-New.jpg" alt="Assoc. Prof. Anan  PHONPHOEM" style="width:150px; height:200px;"> </td>
      <td align="middle">Assoc. Prof. Anan  PHONPHOEM</td>
      <td align="middle">2014 – present</td>
    </tr>

    <tr>
      <td> <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-8-8-30.jpg" alt="Assoc. Prof. Anan  PHONPHOEM" style="width:150px; height:200px;"> </td>
      <td align="middle">Asst. Prof. Putchong  UTHAYOPAS</td>
      <td align="middle">2011 – 2014</td>
    </tr>

    <tr>
      <td> <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-7-7-15.jpg" alt="Assoc. Prof. Anan  PHONPHOEM" style="width:150px; height:200px;"> </td>
      <td align="middle">Asst. Prof. Kemathat VIBHATAVANIJ</td>
      <td align="middle">2006 – 2010</td>
    </tr>

    <tr>
      <td> <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-45-45-25.jpg" alt="Assoc. Prof. Anan  PHONPHOEM" style="width:150px; height:200px;"> </td>
      <td align="middle">Asst. Prof. Pirawat WATANAPONGSE</td>
      <td align="middle">2002 -2006</td>
    </tr>

    <tr>
      <td> <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-2-2-24.jpg" alt="Assoc. Prof. Anan  PHONPHOEM" style="width:150px; height:200px;"> </td>
      <td align="middle">Assoc. Prof. Pradondet  NILAGUPTA</td>
      <td align="middle">1999 – 2002</td>
    </tr>

    <tr>
      <td> <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-18-18-6.jpg" alt="Assoc. Prof. Anan  PHONPHOEM" style="width:150px; height:200px;"> </td>
      <td align="middle">Asst. Prof. Somnuk  KERETHO</td>
      <td align="middle">1996 – 1999</td>
    </tr>

    <tr>
      <td> <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-14-14-13.jpg" alt="Assoc. Prof. Anan  PHONPHOEM" style="width:150px; height:200px;"> </td>
      <td align="middle">Assoc. Prof. Chaiyong WONGCHAISUWAT</td>
      <td align="middle">1992 – 1999</td>
    </tr>

    <tr>
      <td> <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2015/06/%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B8%99%E0%B8%99%E0%B8%97%E0%B8%A7%E0%B8%B1%E0%B8%92%E0%B8%99%E0%B9%8C%E0%B8%AA%E0%B8%B9%E0%B8%97.jpg" alt="Assoc. Prof. Anan  PHONPHOEM" style="width:150px; height:200px;"> </td>
      <td align="middle">Nontawat JUNJAREON</td>
      <td align="middle">1989  – 1992</td>
    </tr>
    
    </table>