<table>
      <table border="5" cellpadding="3" cellspacing="5" width="85%">
        <th> <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2015/01/Anan-New.jpg" alt="Assoc. Prof. Anan  PHONPHOEM" style="width:150px; height:200px;"><br>Assoc. Prof. Anan  PHONPHOEM<br>Department Head  and Public Relations Committee</th>
      </table>

      <table border="5" cellpadding="3" cellspacing="5" width="85%">
        <th> <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-19-19-21.jpg" alt="Assoc. Prof. Anan  PHONPHOEM" style="width:150px; height:200px;"><br>Kitsana WAIYAMAI ,D.U.<br>Department Deputy</th>
        <th> <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-40-40-26.jpg" alt="Assoc. Prof. Anan  PHONPHOEM" style="width:150px; height:200px;"><br>Chaiporn JAIKAEO ,Ph.D.<br>Department Deputy</th>
      </table>

      <table border="5" cellpadding="3" cellspacing="5" width="85%">
        <th> <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-20-20-20.jpg" alt="Assoc. Prof. Anan  PHONPHOEM" style="width:150px; height:200px;"><br>Punpiti PIAMSA-NGA ,D.Sc.<br>Research Invention and Innivation Committee</th>
        <th> <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-23-23-32.jpg" alt="Assoc. Prof. Anan  PHONPHOEM" style="width:150px; height:200px;"><br>Somchai NUMPRASERTCHAI ,Ph.D.<br>Planning and Quality Assurance Committee</th>
      </table>

      <table border="5" cellpadding="3" cellspacing="5" width="85%">
        <th> <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-29-29-13.jpg" alt="Assoc. Prof. Anan  PHONPHOEM" style="width:150px; height:200px;"><br>Jitti NIRAMITRANON ,Ph.D.<br>Physical Infrastructure Committee</th>
        <th> <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-44-44-40.jpg" alt="Assoc. Prof. Anan  PHONPHOEM" style="width:150px; height:200px;"><br>Jittat FAKCHAROENPHOL ,Ph.D.<br>Students Affairs Committee</th>
      </table>

      <table border="5" cellpadding="3" cellspacing="5" width="85%">
        <th> <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-22-22-26.jpg" alt="Assoc. Prof. Anan  PHONPHOEM" style="width:150px; height:200px;"><br>Aphirak JANSANG ,D.Eng.<br>Computer Networks and Information Technology Committee</th>
        <th> <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-39-39-25.jpg" alt="Assoc. Prof. Anan  PHONPHOEM" style="width:150px; height:200px;"><br> Supaporn ERJONGMANEE ,Ph.D.<br>Acadamic Affiars Committee</th>
        <th> <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-42-42-38.jpg" alt="Assoc. Prof. Anan  PHONPHOEM" style="width:150px; height:200px;"><br>Thanawin RAKTHANMANON ,Ph.D.<br>International Undergrad Program Committee</th>
      </table>

  </table>