  <table>

      <table border="5" cellpadding="3" cellspacing="5" width="80%">
        <th> <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-14-14-13.jpg" alt="Assoc. Prof. Anan  PHONPHOEM" style="width:150px; height:200px;"><br> Assoc. Prof. Chaiyong WONGCHAISUWAT</th>
        <th> <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/09/yuen1.jpg" alt="Assoc. Prof. Anan  PHONPHOEM" style="width:150px; height:200px;"><br>Assoc. Prof. Yuen POOVORAWAN</th>
      </table>

  </table>