<style>
div.title {
    background-color: black;
    color: white;
    margin: 20px 0 20px 0;
    padding: 20px;
}
div.body {
  background-color: blue;
  color:  white;
  margin: 20px 0 20px 0;
  padding: 20px
}
#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}
.snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
    color: #FFFFFF;
    user-select: none;
    z-index: 1000;
}
.snowflake:hover {
    cursor: default;
}
</style>
</head>
<body>

<div class="title">
<h2>Certificate Programs (Executive EA)</h2>
<p></p>

<div class="body">
<h2><img src="https://www.cpe.ku.ac.th/wp-content/uploads/2015/03/Screen-Shot-2558-03-17-at-3.37.27-PM.png" width="50%" hspace="50"></h2>
<p>โครงการพัฒนาผู้บริหารระดับสูงด้าน “สถาปัตยกรรมไอทีองค์กร”
<br>(Enterprise Architecture for Executives – Certificate Program)
<br>รุ่นที่ 1 ระหว่างวันที่ 27 มีนาคม ถึง 8 สิงหาคม พ.ศ. 2558<br>
• ตารางเรียนและเอกสารประกอบ<br>
• รายชื่ออาจารย์ผู้สอน วิทยากร และวิทยากรรับเชิญ<br>
• เอกสารแนะนำหลักสูตร<br>
• ใบสมัครออนไลน์<br>
• หลักสูตรนี้เหมาะกับใคร<br>
    • ผู้บริหารด้านนโยบายและแผนงานพัฒนาองค์กร  ในระดับกรม และสำนักงานปลัด หรือเทียบเท่า<br>
    • ผู้บริหารจัดการด้านนโยบาย  และแผนงานการพัฒนาระบบสารสนเทศขององค์กร ในระดับกรม และสำนักงานปลัด หรือเทียบเท่า<br>
    • ผู้จัดการ หรือกำกับโครงการพัฒนาระบบสารสนเทศในหน่วยงานรัฐ<br>
    • ผู้ที่เกี่ยวข้องกับการจัดทำคำของบประมาณ  การขับเคลื่อนโครงการไอที การวิเคราะห์และการออกแบบสถาปัตยกรรมองค์กรภาครัฐ (โดยเฉพาะอย่างยิ่งที่เกี่ยวกับการจัดทำคำของบประมาณไอทีภาครัฐ ที่ต้องมีการจัดทำสถาปัตยกรรมองค์กร และขออนุมัติจากคณะกรรมการจัดหาระบบคอมพิวเตอร์ของรัฐ)<br>
<br>
• ความคาดหวังหลังจากจบหลักสูตรนี้<br>
  • ผู้เรียนจะเข้าใจวิธีการจัดทำคำของบประมาณด้านไอที ให้สอดคล้องกับแนวทางด้านสถาปัตยกรรมองค์กรที่กำหนดโดยคณะกรรมการจัดหาคอมพิวเตอร์ภาครัฐ (ปัจจุบันเป็นข้อกำหนดสำหรับโครงการไอทีภาครัฐ ที่งบประมาณเกิน 100 ล้านบาท)<br>
  • ผู้เข้าเรียนจะได้เข้าใจวิธีการขับเคลื่อนยุทธศาสตร์ไอทีขององค์กรให้ไปสู่ความเป็นจริงด้วยวิธีบริหารจัดการอย่างเป็นระบบ โดยการผลักดันการปฏิรูปกระบวนการทำงาน และผลักดันการออกแบบพัฒนาระบบสารสนเทศขององค์กรด้วยหลักการ  EA ให้ประสบผลสำเร็จ<br>
  • ผู้เรียนจะได้เรียนรู้หลักการ และพัฒนาทักษะในการร่วมกำหนดยุทธศาสตร์องค์กร  และจัดทำยุทธศาสตร์ด้านไอทีที่สร้างคุณค่าเพิ่มให้องค์กร (EA-Enabled Business Transformation)<br>
<br>
<br>สามารถสอบถามรายละเอียดเพิ่มเติมได้ที่
<br>
<br>ภาควิชาวิศวกรรมคอมพิวเตอร์    คณะวิศวกรรมศาสตร์  มหาวิทยาลัยเกษตรศาสตร์
<br>
<br>หมายเลขโทรศัพท์  ๐–๒๗๙๗–๐๙๙๙ ต่อ ๑๔๐๓–๐๔, ๑๔๕๐ (คุณอรนุช บุตรศรีคุ้ย,คุณภัครจิรา หิรัณจารุกร)       หรืออีเมล์: cpe@ku.ac.th
</p>
</div>


</body>
