<style>
div.title {
    background-color: black;
    color: white;
    margin: 20px 0 20px 0;
    padding: 20px;
}
div.body {
  background-color: blue;
  color:  white;
  margin: 20px 0 20px 0;
  padding: 20px
}
#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}
.snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
    color: #FFFFFF;
    user-select: none;
    z-index: 1000;
}
.snowflake:hover {
    cursor: default;
}
</style>
</head>
<body>

<div class="title">
<h2>Course Offering</h2>
<p></p>

<div class="body">
<h2></h2>
<p>รายวิชาที่เปิดสอนของภาควิชาวิศวกรรมคอมพิวเตอร์แบ่งเป็นรายละเอียดปลีกย่อยตามหลักสูตรได้ดังนี้<br>
• วิชาที่เปิดสอนระดับปริญญาตรี<br>
• วิชาที่เปิดสอนระดับปริญญาตรีหลักสูตรนานาชาติ<br>
• วิชาที่เปิดสอนระดับบัณฑิตศึกษา<br>
<p>
</div>


</body>