
<body>

<div class="title">
<h2>Course Offering</h2>
<p></p>

<div class="body">
<h2></h2>
<p>รายวิชาที่เปิดสอนของภาควิชาวิศวกรรมคอมพิวเตอร์แบ่งเป็นรายละเอียดปลีกย่อยตามหลักสูตรได้ดังนี้<br>
• วิชาที่เปิดสอนระดับปริญญาตรี<br>
• วิชาที่เปิดสอนระดับปริญญาตรีหลักสูตรนานาชาติ<br>
• วิชาที่เปิดสอนระดับบัณฑิตศึกษา<br>
<p>
</div>


</body>