<!DOCTYPE html>
<html>

<head>
    <style>
        div.container {
            width: 100%;
            border: 1px solid gray;
        }

        nav {
            float: left;
            max-width: 160px;
            margin: 0;
            padding: 1em;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
        }

        nav ul a {
            text-decoration: none;
        }

        article {
            margin-left: 170px;
            border-left: 1px solid gray;
            padding: 1em;
            overflow: hidden;
        }
    </style>
</head>

<body>

    <div class="container">


        <nav>
            <ul>
                <p>ข้อมูลสำหรับ</p>
                <li><a href="#">สมัคร</a></li>
            </ul>
        </nav>

        <article>
            <h1><b>“KuAcar” คว้าอันดับ2 การแข่งขันรถจำลองไร้คนขับ AMAS MBD 2016<b></h1>
            <p>การแข่งขัน AMAS MBD 2016 เป็นการแข่งขันรถจำลองไร้คนขับ โดยสั่งงานผ่านระบบซอฟต์แวร์ระบบสมองกลฝังตัวไปยังรถจำลอง (Embedded Software) ที่ใช้การพัฒนาแบบ Model Based Development ซึ่งเป็นเทคโนโลยีที่ใช้ในการพัฒนาซอฟต์แวร์ในรถยนต์ในปัจจุบัน และอนาคต
                โครงการนี้ได้จัดขึ้นเป็นครั้งแรกของประเทศไทย โดยแต่ละทีมมีเวลาในการพัฒนาซอฟต์แวร์ระบบสมองกลฝังตัว ใส่ความคิดสร้างสรรค์ และทดสอบระบบดังกล่าวกัน 1 ภาคการศึกษา สมาชิกทีม KuAcar ประกอบด้วย</p>
            <ul>
                <li>นาย ศุภกฤษฏิ์ เกรียงขจร </li>
                <li>นาย วสุธร ศิริยากร </li>
                <li>นาย ณัฐชนันท์ ทองเต็ม </li>
            </ul>
            <p>มีผศ.ดร. ยอดเยี่ยม ทิพย์สุวรรณ เป็นอาจารย์ที่ปรึกษา โดยทั้งหมดเป็นนิสิตชั้นปีที่ 2 สาขาวิศวกรรมคอมพิวเตอร์</p>
            <img src="https://www.cpe.ku.ac.th/wp-content/gallery/kuacar/16923594_10154867331058046_2127900613_n.jpg" style="width:304px;height:228px;">
            <img src="https://www.cpe.ku.ac.th/wp-content/gallery/kuacar/16810571_10154867331123046_735667844_o.jpg"  style="width:304px;height:228px;">
            <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2017/02/16837886_10154867331038046_691987547_n.jpg" style="width:304px;height:228px;">
        </article>

    </div>

</body>

</html>
