<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<style>
    #frame {
        border: 2px solid black;
        background-color: rgb(220, 220, 220);
    }

    #txt1 {
    margin-left: 50px;
    color: blue;
            margin-right: 50px;


    }

    #text2 {
        margin-left: 80px;
                margin-right: 50px;
    }
</style>

<body>
    <div id="frame">
        <h1><P ALIGN="Center">Research Areas and Labs</h1>

        <div id="txt1">
            <p>
                Cluster #1: Digital and Embedded Systems
            </p>
        </div>

        <div id="text2">
            <li>Advance Digital Application (ADA)</li>
            <li>Robotics and Intelligent Mechatronics Lab (RIML)</li>
        </div>

        <div id="txt1">
            <p>
                Cluster #2: Computer Networks and Systems
            </p>
        </div>

        <div id="text2">
            <li>Intelligent Wireless Network Group (IWING)</li>
            <li>Applied Network Research Lab (ANRES)</li>
            <li>High Performance Computing and Networking Center (HPCNC)</li>
            <li>Performance and Reliability Lab (PERF)</li>
        </div>

        <div id="txt1">
            <p>
                Cluster #3: Info. Engineering and Intelligent Systems
            </p>
        </div>

        <div id="text2">
            <li>Data Analysis and Knowledge Discovery Laboratory (DAKDL)</li>
            <li>Massive Information and Knowledge Engineering Laboratory (MIKE)</li>
            <li>Specialty Research Unit in Natural Language Processing and Intelligent Information System Technology (NAIST)</li>
            <li>Smart Home Network System and Service Interaction Laboratory (SHNS)</li>
        </div>

        <div id="txt1">
            <p>
                Cluster #4: Software and Database Technology
            </p>
        </div>

        <div id="text2">
            <li>Software Engineering and Architecture Laboratory (SEAL)</li>
            <li>Database and Software Technology Research Laboratory (DSTRL)  </li>
            <li>Innovation and Knowledge Management (IKM)</li>
        </div>

        <div id="txt1">
            <p>
                Cluster #5: Graphics and Multimedia
            </p>
        </div>

        <div id="text2">
            <li>Multimedia Analysis and Discovery Laboratory ( MAD )</li>
        </div>

        <div id="txt1">
            <p>
                Cluster #6: Computer Theory
            </p>
        </div>

        <div id="text2">
            <li>Theory Research Lab (theory)</li>
            <br>
          </br>
        </div>
</body>

</html>
