<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<style>
    #frame {
        border: 2px solid black;
        background-color: rgb(220, 220, 220);
    }

    #txt1 {
    margin-left: 50px;
    color: blue;
            margin-right: 50px;


    }

    #text2 {
        margin-left: 80px;
                margin-right: 50px;
    }
</style>

<body>
    <div id="frame">
        <h1><P ALIGN="Center">Research Areas and Labs</h1>

        <div id="txt1">
            <p>
                Cluster #1: Digital and Embedded Systems
            </p>
        </div>

        <div id="text2">
            <p>Advance Digital Application (ADA)</p>
            <p>Robotics and Intelligent Mechatronics Lab (RIML)</p>
        </div>

        <div id="txt1">
            <p>
                Cluster #2: Computer Networks and Systems
            </p>
        </div>

        <div id="text2">
            <p>Intelligent Wireless Network Group (IWING)</p>
            <p>Applied Network Research Lab (ANRES)</p>
            <p>High Performance Computing and Networking Center (HPCNC)</p>
            <p>Performance and Reliability Lab (PERF)</p>
        </div>

        <div id="txt1">
            <p>
                Cluster #3: Info. Engineering and Intelligent Systems
            </p>
        </div>

        <div id="text2">
            <p>Data Analysis and Knowledge Discovery Laboratory (DAKDL)</p>
            <p>Massive Information and Knowledge Engineering Laboratory (MIKE)</p>
            <p>Specialty Research Unit in Natural Language Processing and Intelligent Information System Technology (NAIST)</p>
            <p>Smart Home Network System and Service Interaction Laboratory (SHNS)</p>
        </div>

        <div id="txt1">
            <p>
                Cluster #4: Software and Database Technology
            </p>
        </div>

        <div id="text2">
            <p>Software Engineering and Architecture Laboratory (SEAL)</p>
            <p>Database and Software Technology Research Laboratory (DSTRL)  </p>
            <p>Innovation and Knowledge Management (IKM)</p>
        </div>

        <div id="txt1">
            <p>
                Cluster #5: Graphics and Multimedia
            </p>
        </div>

        <div id="text2">
            <p>Multimedia Analysis and Discovery Laboratory ( MAD )</p>
        </div>

        <div id="txt1">
            <p>
                Cluster #6: Computer Theory
            </p>
        </div>

        <div id="text2">
            <p>Theory Research Lab (theory)</p>
            <br>
          </br>
        </div>
</body>

</html>
