<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<style>
#text1 {
    color: blue
}
#text2 {
    margin-left: 20px;
}
</style>
<h1><P ALIGN="Center">ภาพรวมงานวิจัย</h1>

<div id = "text1">
<p>
  Cluster #1: Digital and Embedded Systems
</p>
</div>

<div id = "text2">
<li>ห้องปฏิบัติการประยุกต์วงจรดิจิตอลขั้นสูง (ADA)</li>
<li>ห้องปฏิบัติการวิจัยหุ่นยนต์และจักรกลอัตโนมัติ (RIML)</li>
</div>

<div id = "text1">
<p>
Cluster #2: Computer Networks and Systems
</p>
</div>

<div id = "text2">
<li>ห้องปฏิบัติการวิจัยเครือข่ายไร้สาย (IWING)</li>
<li>ห้องปฏิบัติการวิจัยเครือข่ายประยุกต์ (ANRES)</li>
<li>ห้องปฏิบัติการวิจัยระบบคอมพิวเตอร์สมรรถนะสูงและเครือข่ายคอมพิวเตอร์ (HPCNC)</li>
<li>ห้องปฏิบัติการสมรรถนะและความมั่นคงของระบบคอมพิวเตอร์ (PERF)</li>
</div>

<div id = "text1">
<p>
Cluster #3: Info. Engineering and Intelligent Systems
</p>
</div>

<div id = "text2">
<li>ห้องวิจัยวิเคราะห์และสืบค้นความรู้จากฐานข้อมูลขนาดใหญ่ (DAKDL)</li>
<li>ห้องปฏิบัติการวิจัยวิศวกรรมสารสนเทศและความรู้ขนาดใหญ่ (MIKE)</li>
<li>หน่วยปฏิบัติการวิจัยเชี่ยวชาญเฉพาะการประมวลผลภาษาธรรมชาติและเทคโนโลยีสารสนเทศอัจฉริยะ (NAIST)</li>
<li>ห้องปฏิบัติการวิจัยระบบเครือข่ายบ้านอัจฉริยะและการขัดแย้งกันของเซอร์วิส (SHNS)</li>
</div>

<div id = "text1">
<p>
Cluster #4: Software and Database Technology
</p>
</div>

<div id = "text2">
<li>ห้องปฏิบัติการวิศวกรรมซอฟต์แวร์และสถาปัตยกรรม (SEAL)</li>
<li>ห้องปฏิบัติการวิจัยฐานข้อมูลและเทคโนโลยีซอฟต์แวร์ (DSTRL)</li>
<li>ห้องปฏิบัติการการจัดการความรู้และนวัตกรรม (IKM)</li>
</div>

<div id = "text1">
<p>
Cluster #5: Graphics and Multimedia
</p>
</div>

<div id = "text2">
<li>ห้องปฏิบัติการวิจัยการวิเคราะห์และค้นพบความรู้ในสื่อประสม (MAD)</li>
</div>

<div id = "text1">
<p>
Cluster #6: Computer Theory
</p>
</div>

<div id = "text2">
<li>ห้องปฏิบัติการวิจัยเชิงทฤษฎี (Theory)</li>
</div>
