<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<style>
    #frame {
        border: 2px solid black;
        background-color: rgb(220, 220, 220);
    }

    #middle_frame {
        margin-left: 50px;
        margin-right: 50px;
        float: center;
    }

    #bottom_frame {
        margin-left: 80px;
        margin-right: 50px;
    }
</style>

<body>
    <div id="frame">
        <h1><P ALIGN="Center">Overview</h1>
        <div id="middle_frame">
            <p>
                ภาควิชาวิศวกรรมคอมพิวเตอร์ทำการพัฒนาและค้นคว้าวิจัยทางด้านเทคโนโลยีคอมพิวเตอร์ ทั้งด้านฮาร์ดแวร์และซอฟต์แวร์ในสาขาต่าง ๆ เช่น สถาปัตยกรรมคอมพิวเตอร์ เครือข่ายคอมพิวเตอร์และการสื่อสารข้อมูล การประยุกต์ใช้งานไมโครโปรเซสเซอร์ การโปรแกรมระบบ ปัญญาประดิษฐ์
                วิศวกรรมซอฟต์แวร์ การพัฒนาระบบงานคอมพิวเตอร์ ระบบการจัดการฐานข้อมูล และเทคโนโลยีสารสนเทศเพื่อการจัดการ
            </p>
        </div>

        <div id="bottom_frame">

            <p>1.ผลงานวิจัยและพัฒนาเด่น</p>
            <p>2.ผลงานดีเด่นของนิสิต</p>
            <p><a href="https://cpeweb-app-pantherske14.c9users.io/static_pages/ResearchAndOperating.html">3.รายชื่อห้องปฏิบัติการ</a></p>
            <br>
            </br>
        </div>
</body>

</html>