<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<style>
    #frame {
        border: 2px solid black;
        background-color: rgb(220, 220, 220);


    }

    #color_left {
        background-color: rgb(165, 165, 165);
    }

    #middle_frame {
      margin-left: 50px;
        margin-right: 50px;
        float: center;
    }

    #bottom_frame {
        margin-left: 80px;
        margin-right: 50px;
    }
</style>

<body>
    <div id="frame">
        <h1><P ALIGN="Center">ค่าเทอมและทุนการศึกษา</h1>
        <div id="middle_frame">
            <p>
                การศึกษาเป็นการลงทุนอย่างหนึ่ง ผู้ที่สนใจเข้าศึกษาต่อและนิสิตปัจจุบันนอกจากจะต้องลงทุนทั้งทางด้านเวลาในการเข้ามาศึกษาหาความรู้เพิ่มเติมกับทางเราแล้วนั้น นิสิตในสังกัดภาควิชาวิศวกรรมคอมพิวเตอร์จะต้องจ่ายค่าลงทะเบียนและค่าธรรมเนียมอื่นๆตามที่มหาวิทยาลัยกำหนด
                <br>
                <br> สำหรับผู้ที่สนใจเข้าศึกษาต่อและนิสิตปัจจุบันที่มีผลการเรียนดีเป็นพิเศษ และ/หรือ มีความขาดแคลนทางด้านทุนทรัพย์ ทางหน่วยงานต่างๆตั้งแต่ระดับมหาวิทยาลัย คณะวิศวกรรมศาสตร์ และภาควิชาวิศวกรรมคอมพิวเตอร์มีทุนการศึกษาเพื่อรองรับด้วยเช่นกัน
                </br>
                </br>
            </p>

        </div>

        <div id="bottom_frame">

            <p><a href="http://www.regweb.registrar.ku.ac.th/calendar/index/138?a_id=218">-ค่าลงทะเบียนและค่าธรรมเนียม</a></li>
            <p>-ทุนการศึกษา</p>
            <br> หมายเหตุ: ข้อมูลที่หน้านี้เป็นข้อมูลเพื่อใช้ในการอ้างอิงทั่วไปสำหรับผู้ที่สนใจเข้าศึกษาต่อและนิสิตปัจจุบันเท่านั้น อัตราค่าลงทะเบียนและค่าธรรมเนียมมีการเปลี่ยนแปลงจากทางมหาวิทยาลัยทุกปี ดังนั้นผู้สนใจโปรดตรวสอบข้อมูลกับทางมหาวิทยาลัยเพื่อความแน่นอนอีกครั้ง
            </br>
            <br>
        </div>
    </div>
</body>

</html>