
<html>
<body>

<style>

footer {
    padding: 1em;
    color: white;
    font-size: 18px;
    background-color: rgb(247, 2, 2);
    clear: left;
    text-align: center;
}
</style>

<footer>Copyright &copy; 2017 Department of Computer Engineering. All Rights Reserved</footer>
</body>
</html>